<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!--Angular CDN-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    .customMargin {
      margin-left: 3rem;
      margin-right: 3rem;
    }

    .hodlerOtimizar {}

    .posicao {
      position: absolute;
    }

    .Custom-Modal-Footer {
      border-top: 1px solid rgba(0, 0, 0, 0.5)
    }

    .progress {
      display: none;
    }
  </style>
</head>

<body ng-app="SimplexApp" ng-controller="SimplexController as simplox">

  <nav class="blue darken-4">
    <div class="nav-wrapper customMargin">
      <a href="#" class="brand-logo center">Simplox</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a class="waves-effect waves-light modal-trigger" href="#funcObj">
            <i class="material-icons">add</i>
          </a>
        </li>
        <!-- <li><a href=""><i class="material-icons">delete</i></a></li> -->
      </ul>
    </div>
  </nav>
  <div class="progress blue accent-1" style="margin: 0px;">
    <div class="indeterminate blue darken-4"></div>
  </div>


  <div class="content">
    <div class="container">
      <h5 class="black-text col s12 left-align"> Por favor, tenha ceteza de em todas as restrições colocar os valores adequados para a quantidade de variáveis</h5>
    </div>
    <hr/>
    <!-- <div class="container">
        <div class="row">
            <h5 class="col s4 blue-text text-darken-2">Resultado: </h5>
            <h6 class="black-text col m8 left-align">{{simplox.simplexResponse.resultado}}</h6>
          </div>
          <hr/>
      <div class="row">
        <h5 class="col s4 blue-text text-darken-2">Z: </h5>
        <h6 class="black-text col m8 left-align">{{simplox.simplexResponse.z}}</h6>
      </div>
      <hr/>
      <div class="row" ng-repeat="value in simplox.simplexResponse.saida track by $index" ng-if="$index >= 1">
        <div class = "row">
          <h5 class="col s4 blue-text text-darken-2">x{{$index}}: </h5>
          <h6 class="black-text col m8 left-align">{{value}}</h6>
        </div>
        <hr/>
      </div>
    </div> -->
    <div class ="row"> 
      <ul class="collection">
        <li class="collection-item">
          <span class="title">Resultado</span>
          <p>{{simplox.simplexResponse.resultado}} </p>
        </li>
      </ul>
      <ul class="collection">
        <li class="collection-item">
          <span class="title">Z</span>
          <p>{{simplox.simplexResponse.z}} </p>
        </li>
      </ul>
      <ul class="collection">
        <li class="collection-item" ng-repeat="value in simplox.simplexResponse.saida track by $index" ng-if="$index >= 1">
          <span class="title">X{{$index}}</span>
          <p>{{value}} </p>
        </li>
      </ul>
    </div>














  </div>


  <!-- Modal Structure -->
  <div id="funcObj" class="modal modal-fixed-footer grey lighten-1">
    <div class="modal-content row">
      <h5>Entradas</h5>
      <div class="hodlerOtimizar row">
        <h6 class="col s3">Função Objetiva</h6>
        <span class="col s9">
          <!-- <label class="black-text" for="otimizar"> Minimizar? -->
          <input type="checkbox" ng-model="simplox.simplexObj.max" id="otimizar" />
          <label class="black-text" for="otimizar">{{simplox.simplexObj.max ? 'Maximizar' : 'Minimizar'}}
        </span>
      </div>
      <div class="row">
        <div ng-repeat="var in simplox.simplexObj.variaveis" class="input-field col s1 ">
          <input name="group1" type="number" id="{{$index}}" ng-model="var.value" max="1000" />
          <label class="black-text" for="{{$index}}">x{{$index + 1}}</label>
          <a ng-if="$index > 1" ng-click="simplox.removeOpt(var)" class="black-text" style="padding: 0px !important;">
            <i class="material-icons">delete</i>
          </a>

        </div>
        <a ng-click="simplox.addVariavel()" class="btn-floating btn-large waves-effect waves-light light-blue lighten-1">
          <i class="material-icons">add</i>
        </a>
      </div>

      <div class="holderRestricao row">
        <h6 class="col s12">
          <b>Restrições</b>
        </h6>
        <div class="col s12" ng-repeat="rest in simplox.simplexObj.restricoes">
          <p>Restrição {{$index + 1}}
            <a ng-if="$index > 0" ng-click="simplox.removeRest(rest)" class="black-text" style="padding: 0px !important;">
              <i class="material-icons">delete</i>
            </a>
            <p>


              <div ng-repeat="val in rest.variaveis" class="input-field col s1">
                <input name="group2" type="number" id="{{$index}}" ng-model="val.value" max="1000" />
                <label class="black-text">x{{$index + 1}}</label>
                <a ng-if="$index != 0" ng-click="simplox.removeVal(rest, val)" class="black-text" style="padding: 0px !important;">
                  <i class="material-icons">delete</i>
                </a>
              </div>

              <select class="browser-default col s2" style="height: 4rem;" ng-model="rest.sinal" ng-options="sinal.alias for sinal in simplox.sinais"></select>

              <div class="input-field col s2">
                <input name="" type="number" ng-model="rest.termo" max="1000" />
                <label class="black-text">Termo</label>
              </div>
              <a ng-click="simplox.addField(rest)" class="btn-floating btn-large waves-effect waves-light light-blue lighten-1">
                <i class="material-icons">add</i>
              </a>
        </div>
      </div>
    </div>
    <div class="modal-footer fixed-footer grey lighten-1 z-depth-5 Custom-Modal-Footer">
      <a ng-click="simplox.addRest()" href="#!" class="modal-action waves-effect waves-green btn-flat blue darken-1 white-text">Nova Restrição</a>
      <a ng-click="simplox.send()" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat blue darken-3 white-text">Enviar</a>
    </div>
  </div>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="assets/ConnectionUtilities.js"></script>
  <script type="text/javascript" src="assets/DomUtilities.js"></script>
  <script type="text/javascript" src="assets/SimplexController.js"></script>
  <script type="text/javascript" src="assets/index.js"></script>
</body>

</html>